yfinance
pandas
python-dotenv
python-bcb
streamlit
plotly
selenium
webdriver-manager
chardet
psycopg2-binary
plotly-express
numpy
scikit-learn
chromadb
langchain
langchain-chroma
langchain-google_genai
pysqlite3-binary
